header {
  background-color: rebeccapurple;
  height: 70px;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-inner {
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.navbar-left {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.navbar {
  width: 50%;
}

.navbar-right {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  padding-left: 200px;
}

.user-nav {
  padding: 26px 70px;
}

.logout-btn {
  /* margin-left: 250px; */
  /* ログアウトボタンのみを表示するときの為に置いたが、あまり必要性を感じないので、後に削除する。ログアウトの部分に付与されているこのクラスも削除する。 */
}