<div class="card-space">
  <% records.each_slice(3) do |record1,record2,record3| %>
    <div class="array-space">

      <% if record1 != nil %>
        <%= render 'shared/one_card', { record: record1 } %>
      <% end %>

      <% if record2 != nil %> 
        <%= render 'shared/one_card', { record: record2 } %>
      <% end %>

      <% if record3 != nil %>
        <%= render 'shared/one_card', { record: record3 } %>
      <% end %> 

    </div>
  <% end %>
</div>