<header>
  <div class="navbar-inner">
    <div class="heading">
      <h1 class="navbar-left">Saborine</h1>
    </div>
    <div class="navbar">
      <ul class="navbar-right">
        <li><a href="#" class="user-nav">新規登録</a></li>
        <li><a href="#" class="user-nav">ログイン</a></li>
        <li><a href="#" class="user-nav">ログアウト</a></li>
      </ul>
    </div>     
  </div>
</header>
