<header class="second-header">
  <div class="navbar-inner">
    <div class="heading">
      <%= link_to 'Saborine', root_path, class: "navbar-left second-navbar" %>
      <%= link_to about_records_path, method: :get, class: "about-button" do %>
        <i class="fas fa-info-circle fa-2x"></i>
      <% end %>
    </div>
  </div>
</header>