/* 以下が検索欄 */

.search-space {
  background-color: rgba(242, 242, 242, 0.8);
  height: 4vh;
  width: calc(100% - 70px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
  font-weight: bolder;
}

.date-search-form {
  margin-left: 1vw;
}

.search-button {
  margin-left: 0.5vw;
  font-size: 17px;
  display: inline-block;
  border: none;
  background-color: #666666;
  border-radius: 5px;
  color: #FFFFCC;
}

.search-button:hover {
  background-color: #AAAAAA;
}

/* 以上が検索欄 */

.graph-space {
  background-color: rgba(242, 242, 242, 0.8);
  border-bottom: 1px solid black;
  /* 上のborderは後で消す */
  height: 500px;
  width: calc(100% - 70px);
  margin: 0 auto;
  padding: 40px 30px 20px;

  /* グラフとグラフがなかった時の文字を上下左右中央に来る様にflexboxを使用 */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-space {
  background-color: rgba(242, 242, 242, 0.8);
  height: 1000px;
  width: calc(100% - 70px);
  margin: 0 auto;
  overflow: scroll;
}

/* 以下カード */


.array-space {
  height: 235px;
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}

.card {
  background-color: white;
  height: 245px;
  width: 500px;
  border: 2px solid #C299FF	;
  border-radius: 5px;
}

.date-wrapper {
  font-size: 13px;
  margin: 10px 10px 0;
  display: flex;
}

.last-updated-date {
  margin-left: 70px;
}

.skip-time-space {
  margin: 10px 10px 0;
  width: 130px;
}

.question-rabel {
  color: lightgrey;
  font-size: 13px;
}

.skip-time {
  margin-top: 8px;
  border-bottom: 2px solid #C299FF	;
  width: 85px;
}

.text-space {
  margin: 20px 10px 0;
}

.what-skip {
  border-bottom: 2px solid #C299FF	;
  margin: 8px 0;
  overflow: scroll;
}

.to-do {
  border-bottom: 2px solid #C299FF	;
  margin: 8px 0;
  overflow: scroll;
}

.update-btns {
  height: 30px;
  margin: 20px 0 0 10px;
  display: flex;
  padding-left: 383px;
}

.edit-link {
  width: 300px;
  margin-right: 20px;
  color: #C299FF	;
}

.delete-link {
  margin-right: 20px;
  color: #C299FF	;
}



/* 以上カード */

/* ボタン */

.new-record-btn {
  position: fixed;
  bottom: 40px; 
  right: 0px;
  padding: 6px 40px;
}

.fa-stack:hover {
  opacity: 0.9;
}

/* 以上ボタン */